<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" th:href="@{/webjars/govuk-frontend/4.5.0/govuk-frontend.min.css}" />
</head>

<body class="govuk-template__body">
<div th:replace="~{fragments/header :: header}"></div>

<div class="govuk-width-container" >
    <a th:href="${homePageUrl}" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Do you accept our privacy policy?</h1>
                <p class="govuk-body">
                    Before you can continue, you need to read and agree to the
                    <a href="https://www.find-government-grants.service.gov.uk/info/privacy" target="_blank">
                        Find a grant privacy policy (opens in a new tab)</a>
                </p>
                <p>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input type="checkbox"
                               th:id="privacyPolicy"
                               th:name="privacyPolicy"
                               th:checked="*{privacyPolicy == 'yes'}"
                               th:value="yes"
                               class="govuk-checkboxes__input"
                        />

                        <label class="govuk-label govuk-checkboxes__label" th:for="privacyPolicy">
                            Yes, I have read and agree to the Find a grant privacy policy
                        </label>
                    </div>
                </div>
                </p>


                <a th:href="${loginUrl}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                    Continue
                </a>
            </div>
        </div>
    </main>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>