<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>

        <link rel="stylesheet" th:href="@{webjars/govuk-frontend/4.5.0/govuk-frontend.min.css}" />
    </head>

    <body class="govuk-template__body">
        <div th:replace="~{fragments/header :: header}"></div>

        <div class="govuk-width-container">
            <a href="#" class="govuk-back-link">Back</a>

            <main class="govuk-main-wrapper" id="main-content" role="main">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-l">Create an account</h1>

                        <p class="govuk-body">Enter your details to create an account.</p>

                        <form action="/register" method="post" novalidate>
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="first-name">
                                    First name
                                </label>
                                <input class="govuk-input" id="first-name" name="first-name" type="text" />
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="last-name">
                                    Last name
                                </label>
                                <input class="govuk-input" id="last-name" name="last-name" type="text" />
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="email">
                                    Enter your email address
                                </label>
                                <div id="email-hint" class="govuk-hint">
                                    You will use this email address every time you sign in.
                                </div>
                                <input class="govuk-input" id="email" name="email" type="email" spellcheck="false"
                                       aria-describedby="email-hint" autocomplete="email" />
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="confirm-email">
                                    Confirm your email address
                                </label>
                                <input class="govuk-input" id="confirm-email" name="confirm-email" type="email"
                                       spellcheck="false"
                                       aria-describedby="email-hint" autocomplete="email" />
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="telephone-number">
                                    UK telephone number (mobile)
                                </label>
                                <div id="telephone-hint" class="govuk-hint">
                                    You must enter a UK mobile telephone number to continue. We will send a verification code to
                                    this number every time you sign in.
                                </div>
                                <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number"
                                       type="tel" aria-describedby="telephone-hint" autocomplete="tel" />
                            </div>

                            <div class="govuk-form-group">
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="privacy-policy" name="privacy-policy"
                                               type="checkbox" value="yes" />
                                        <label class="govuk-label govuk-checkboxes__label" for="privacy-policy">
                                            I have read and agree to the <a href="">Privacy policy</a>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <button class="govuk-button" data-module="govuk-button">
                                Save and continue
                            </button>
                        </form>
                    </div>
                </div>
            </main>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>