<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="govuk-template">
  <head>
        <meta charset="UTF-8">
        <title>Session expired</title>

    <link rel="stylesheet" th:href="@{/webjars/govuk-frontend/4.8.0/govuk-frontend.min.css}"/>
  </head>

<body class="govuk-template__body">
<div th:replace="~{fragments/header :: header}"></div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, your session has expired</h1>
                <p class="govuk-body">
                    Return to the <a class="govuk-link" href="/login">login page</a> and try again.
                </p>
            </div>
        </div>
    </main>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>